<app-nav-bar></app-nav-bar>

<div id="background">
    <div class="ng-container">
        <app-header gameMode="Battle Royale"></app-header>

        <div class="table">
            <table mat-table matTableExporter [dataSource]="tableData" matSort class="mat-elevation-z8">
              
                <!-- ID Column -->
                <ng-container matColumnDef="playerId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Player ID </th>
                  <td mat-cell *matCellDef="let player">
                    <div *ngIf="!isDisqualified(player.disqualified)" >
                    
                      {{player.playerId}} 
                    </div>
                    <div *ngIf="isDisqualified(player.disqualified)" style="text-decoration: line-through;color: red;">
                      {{player.playerId}} 
                    </div>  
                  </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="playerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Player Name </th>
                  <td mat-cell *matCellDef="let player"> 
                    <div *ngIf="!isDisqualified(player.disqualified)" >
                    
                      {{player.playerName}} 
                    </div>
                    <div *ngIf="isDisqualified(player.disqualified)" style="text-decoration: line-through;color: red;">
                      {{player.playerName}} 
                    </div>  
                  </td>
                </ng-container>
              
                <!-- Points Column -->
                <ng-container matColumnDef="points">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
                  <td mat-cell *matCellDef="let player"> 
                    <div *ngIf="!isDisqualified(player.disqualified)" >
                    
                      {{player.points}} 
                    </div>
                    <div *ngIf="isDisqualified(player.disqualified)" style="text-decoration: line-through;color: red;">
                      {{player.points}} 
                    </div> </td>
                </ng-container>
        
                 <!-- Kills Column -->
                <ng-container matColumnDef="kills">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kills </th>
                    <td mat-cell *matCellDef="let player">
                      <div *ngIf="!isDisqualified(player.disqualified)" >
                    
                        {{player.kills}} 
                      </div>
                      <div *ngIf="isDisqualified(player.disqualified)" style="text-decoration: line-through;color: red;">
                        {{player.kills}} 
                      </div> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
    </div>
</div>
