.login-main{
    /* background-image: url('../../../../../assets/images/battleline_cover.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
    height: 100vh;
    /* background-color: #09161E; */
    /* width: 100vw; */
    margin: 0%;
    max-width: 300px;    
  }

.brForm{
  min-width: 300px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  padding-bottom: 80px;
}

.formContent{
  padding-left: 5%;
}

#verify-btn{
  background-color: red;
}