<div>
    <form [formGroup]="brPlayersForm" (ngSubmit)="onSubmit()" class="brForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add/Update BR Player</mat-card-title>
        </mat-card-header>
        
        <mat-card-content fxLayout="column" class="formContent">
            <!-- <mat-form-field>
                <input formControlName="playerId" type="text" matInput placeholder="Player ID">
            </mat-form-field>

            <br> -->
            
            <mat-form-field>
                <input formControlName="playerName" type="text"  matInput placeholder="Player Name">
            </mat-form-field>
            
            <br>

            <p>
                Player Name : {{playerName}}
            </p>
            
            <mat-form-field>
                <input formControlName="rank" type="number"matInput placeholder="Rank">
            </mat-form-field>
            
            <br>

            <p>
                Rank : {{playerRank}}
            </p>
            
            <mat-form-field>
                <input formControlName="kills" type="number"  matInput placeholder="Num of kills">
            </mat-form-field>
            
            <br>
            <br>

            <p>
                Number of Kills : {{kills}}
            </p>

            <mat-checkbox  labelPosition="before" (change)="onDisqualified($event.checked)">
                Disqualified 
            </mat-checkbox>

            <br>
            <br>
            
            <p>
                Disqualified : {{disqualified}}
            </p>
            
            <h3>
                Points : {{points}}
            </h3>

        </mat-card-content>
        
        <mat-card-actions align="end" >
            <button type="submit" *ngIf="addVisibility" mat-raised-button color="primary" (click)="onSubmit('addPlayer')">Add Player</button>
            <button type="submit" *ngIf="verifyVisibility" mat-raised-button color="primary" (click)="onSubmit('verify')">Verify</button>
        </mat-card-actions>
        
    </mat-card>
    </form>
</div>
