/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    overflow: hidden;
    animation-name: bodyColor;
    animation-duration: 7s;
 background-color:#09161f;
   
}

@keyframes bodyColor {
    from {background-color: white;}
    to {background-color: #09161f;}
  }

