ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 16px;
    margin-top: -15px;
    margin-left: -10px;
    padding: 35px 20% 20px 20%;
    background-color: #09161E;
    border-bottom: 2px solid #FFFFFF;
}

li:hover{
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.1em;
}

li {
    float: left;
}

li a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-bar {
    z-index: 10;
    position: fixed;
    width: 100%;
}