#root{
  background-image: url('../../../../assets/images/battleline_welcome.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
  height: 100vh;
  background-color: #09161E;
  /* width: 100vw; */
}

.container {
  -webkit-animation: smooth 7s ease-in;
  -moz-animation: smooth 7s ease-in;
  -o-animation: smooth 7s ease-in;
  -ms-animation: smooth 7s ease-in;
  animation: smooth 7s ease-in;
}

@keyframes smooth {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.heading{
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* text-align: center; */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 500%;
    line-height: 116px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: rgba(195, 203, 208, 0.9);
}

/* @media only screen and (min-width: 375px) {
  #root{
    background-image: url('../../../assets/images/battleline_welcome_mobile.png');
  }
}
@media only screen and (min-width: 1024px) {
  #root{
    background-image: url('../../../assets/images/battleline_welcome.png');
  }
  } */

