.root{
 margin-top: auto;
 font-family: Roboto, "Helvetica Neue", sans-serif;
  }

mat-card-content{
  background-color: white;
  padding: 10px;
  border: 2px solid black;
}
mat-card{
  background-color: #aab1e5;
  
}
mat-card h2{
 
  background-color: #6E61AB;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(110,97,171,0.61); 
box-shadow: 0px 5px 14px 0px rgba(110,97,171,0.61);
  
}
#btn{
  color: white;
  background-color: red;
}
.content{
  margin-left: 10%;
}
.mpMatch{
  
}

.mpTeam{

}

@media only screen and (min-width: 300px) {

  .mpMatch{
    margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
  
    min-width: 300px;
    width:60%;
    }

    .mpTeam{
      margin-top: 50px;
      margin-bottom: 50px;
     margin-left: auto;
     margin-right: auto;
    
      min-width: 300px;
      width:60%;
      }
}


@media only screen and (min-width: 700px) {
  
}