<div class = "forms">
    <div class="mpMatch">
        <form [formGroup]="mpMatchForm" (ngSubmit)="onMatchSubmit()" >
        <mat-card >
            
            <mat-card-header>
                <mat-card-title>Add MP Match</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <section>
                    <mat-form-field>
                        <input formControlName="team1" type="text"matInput placeholder="Team 1 ID">
                    </mat-form-field>
                    
                    <p>                  
                        Team 1 Name:  &nbsp; {{team1Name}}
                    </p>
    
                    
                    <mat-checkbox  labelPosition="before" (change)="onDisqualified1($event.checked)">Team 1 Disqualified 
                    </mat-checkbox>
                </section>
                
               
            
                <section>
                    <mat-form-field>
                        <input formControlName="team2" type="text"  matInput placeholder="Team 2 ID">
                    </mat-form-field>
                    <p>                  
                        &nbsp;Team 2 Name:  &nbsp; {{team2Name}}
                    </p>
    
                   
                    <mat-checkbox  labelPosition="before" (change)="onDisqualified2($event.checked)">Team 2 Disqualified 
                    </mat-checkbox>
                    <br>
                </section>
                

                <section>
                    <mat-form-field>
                        <input formControlName="team1Rounds" type="number"matInput placeholder="Team 1 Rounds">
                    </mat-form-field>
    
                    <br>
                    
    
                    <mat-form-field>
                        <input formControlName="team2Rounds" type="number"  matInput placeholder="Team 2 Rounds">
                    </mat-form-field>
                </section>
                
                <br>
            <mat-error *ngIf="verifyErr" >
                    ERROR => Please check details and try again.
            </mat-error>
            
            </mat-card-content>
            <mat-card-actions align="end">
                <button *ngIf="verify" type="submit" mat-raised-button color="primary" >Add Match</button>
                <button *ngIf="!verify" type="button" mat-raised-button color="primary" (click)="onVerify()">Verify</button>
            </mat-card-actions>
        </mat-card>
    </form>
    </div>
    <br>
    <br>

    <div class="mpTeam">
        <form [formGroup]="mpTeamsForm" (ngSubmit)="onTeamSubmit()">
        <mat-card >
            
            <mat-card-header>
                <mat-card-title>Add MP Team</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input formControlName="teamName" type="text"  matInput placeholder="Team Name">
                </mat-form-field>
                <br>
                <mat-error *ngIf="!inputsValid2" >
                    ERROR => Team already exists.
                </mat-error>
            
            </mat-card-content>
            <mat-card-actions align="end">
                <button  type="submit" mat-raised-button color="primary">Add Team</button>
               

            </mat-card-actions>
        </mat-card>
    </form>
    </div>
</div>
<!-- <div >
   <pre>
       {{mpMatches | json}}
   </pre>
   <button  mat-raised-button color="primary" type="button"(click)="getMatches()">Get matches</button>

</div> -->

